@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;

    /* Color vars */
    --dark-blue: #652CD1;
    --light-blue: #845EEE;
    --black: #121826;
    --grey-1: #212936;
    --grey-2: #394150;
    --grey-3: #4D5562;
    --grey-4: #A1A1A9;
    --white: #E5E7EB;

    /* Border radius */
    --border-radius: .75rem;

    /* Input padding */
    --form-pad: 2.5rem;
    --input-pad: .8rem;

    /* Button border radius */
    --btn-radius: 1.5rem;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    width: 100%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background: url("./../images/blur-radial.svg") -50% -20rem, url("./../images/blur-radial.svg") 150% 20rem;
    background-repeat: no-repeat;
    
    /* background-clip: padding-box; */
    background-size: 60%;
    background-color: var(--black);
}
.correct
{
    border-color: greenyellow !important;
}
.wrong
{
    border-color: salmon !important;
}
.hidden
{
    display: none !important;
}
.transparent
{
    color: transparent;
}
.register-form
{
    background-color: rgba(200, 200, 200, .1);
    border: 1px solid rgba(250, 250, 250, .15);
    padding: var(--form-pad);
    border-radius: var(--border-radius);
    overflow: hidden;
    width: clamp(300px, 100%, 500px);
    backdrop-filter: blur(3rem);
    position: relative;
}
.form-section
{
    display: none !important;
    width: 100%;
}
.form-section.active
{
    display: block !important;
}
.form-section .section-title
{
    margin-bottom: 1rem;
}
.register-section
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section-title
{
    font-size: 1.25rem;

    font-weight: 500;
    color: var(--white);
}

.section-content
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input-row
{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.row-title
{
    font-size: .75rem;
    color: var(--grey-4)
}
.input-row input
{
    padding: .8rem 1rem;
    background-color: transparent;
    border: 2px solid var(--grey-3);
    border-radius: var(--border-radius);
    color: var(--grey-4);
    font-size: .75rem;
}
.input-row input::placeholder
{
    color: var(--grey-3);
}
.section-btns
{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.button
{
    font-size: .75rem;
    cursor: pointer;
    border: 0;
    color: var(--white);
    border-radius: var(--btn-radius);
    padding: .7rem 2rem;
    background: rgb(101,44,209);
background: linear-gradient(0deg, rgba(101,44,209,1) 0%, rgba(101,44,209,1) 31%, rgba(101,44,209,1) 55%, rgba(132,94,238,1) 100%);
}

/* Steps */
.step-row
{
    color: var(--grey-2);
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.step-btns
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.btn-step
{
    cursor: pointer;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: var(--grey-2);
}
.btn-step.passed-step
{
    background-color: var(--light-blue) !important;
}
.btn-step.current-step
{
    cursor: default !important;
    background-color: var(--light-blue) !important;
    box-shadow: 0 0 0 .35rem rgba(132, 94, 238, .2) !important;
}

/* Topics section */
.topics-section .section-content
{
    margin: 1.5rem 0;
    gap: 1rem;
}
.topics-section .checkbox
{
    cursor: pointer;
    padding: var(--input-pad);
    border-radius: var(--border-radius);
    background-color: rgba(250, 250, 250, .1);
    color: var(--grey-4);
    font-size: .875rem;
    border: 1px solid var(--grey-3);
}
.topics-section .checkbox:hover
{
    border: 1px solid var(--white);
    color: var(--white);
}
.topics-section .checkbox.selected
{    
    background-color: var(--dark-blue) !important;
    border: 1px solid var(--light-blue) !important;
    color: var(--white) !important;
}

/* SUMMARY SECTION */
.summary-section
{
    color: var(--white);
}
.summary-section .first-step > div
{
    
    display: flex;
    gap: .3rem;
}
.summary-section .summary-title
{
    color: var(--grey-4);
}
.summary-section .topics-list
{
    padding-left: 1rem;
    list-style-position: inside;
}